<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Fashion Trend</title>

    <!--CSS files references-->
    <link href="../static/content/font.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/content/tooltipster.css" />
    <link href="../static/content/pgwslider.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/content/font-awesome.min.css">
    <link href="../static/content/style.css" rel="stylesheet" media="screen">
    <link href="../static/content/responsive.css" rel="stylesheet" media="screen">

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <section id="header_area">
        <div class="wrapper header">
            <div class="clearfix header_top">
                <div class="clearfix logo floatleft">
                    <a href=""><h1><span>FASHION</span> SPY</h1></a>
                </div>
            </div>
            <div class="header_bottom">
                <nav>
                    <ul id="nav">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('subscription') }}">Subscription</a></li>
                        <li><a href="{{ url_for('about') }}">About us</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact us</a></li>
                        {% if session['username'] %}
                        <li><a href="{{ url_for('present') }}">Present Trend Analysis</a></li>
                        <li><a href="{{ url_for('past') }}">Past Trend Analysis</a></li>
                        <li id="dropdown">
                            <a href="">Current Trends</a>
                            <ul>
                                <li><a href="currenttrends?tshirts">T-shirts</a></li>
                                <li><a href="currenttrends?dresses">Dresses</a></li>
                                <!--<li><a href="currenttrends?footwear">Footwear</a></li>-->
                            </ul>
                        </li>
                        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section id="content_area">
        <div class="clearfix wrapper">
            <div class="clearfix floatleft">
                <div class="clearfix content">
                    <div class="content_title"><h2>COMING SOON!!</h2></div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer_bottom_area">
        <div class="clearfix wrapper footer_bottom">
            <div class="clearfix copyright floatleft">
                {% block content %}{% endblock %}
                <p> Copyright &copy; {{ year }} - My Flask Application</p>
            </div>
        </div>
    </section>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
</body>
</html>