{% extends "layout.html" %}

{% block content %}


<style>
    div.a {
        grid-template-columns: auto auto;
    }
</style>

<body>
    <div class="a">
        <div class="item" id="regions_div" style="width: 900px; height: 500px;"></div>
        <div class="item" style="display: flex;justify-content: center;line-height: 2;">
            <div>
                <h1>Login</h1>
                <form>
                    <div>
                        <label>Email</label>
                        <input type="email" input="" />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" input="" />
                    </div>
                    <div>

                            <a href="{{ url_for('home') }}">Login</a>
                    </div>
                    <p>
                        Don't have an account? <a href="signup.html">Sign Up</a>
                    </p>

                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
