<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> login Page </title>

    <!--CSS files references-->
    <link href="../static/content/font.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/content/tooltipster.css" />
    <link href="../static/content/pgwslider.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/content/font-awesome.min.css">
    <link href="../static/content/style.css" rel="stylesheet" media="screen">
    <link href="../static/content/responsive.css" rel="stylesheet" media="screen">

</head>
<body>
    <section id="header_area">
        <div class="wrapper header">
            <div class="clearfix header_top">
                <div class="clearfix logo floatleft">
                    <a href=""><h1><span>FASHION</span> SPY</h1></a>
                </div>
            </div>
            <div class="header_bottom">
                <nav>
                    <ul id="nav">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('subscription') }}">Subscription</a></li>
                        <li><a href="{{ url_for('about') }}">About us</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section id="content_area">
        <div class="clearfix wrapper main_content_area">
            <div class="clearfix main_content floatleft">
                <div class="clearfix content">
                    <div class="content_title"><h2>Kindly enter your Login details</h2></div>

                    <div class="clearfix single_content">
                        <div class="clearfix post_detail">
                            <div class="clearfix post_excerpt">
                                <div class="clearfix sidebar_container floatright">
                                    <div class="clearfix newsletter">
                                        <form action="" method="POST">
                                            <input type="email" name="username" placeholder="Email Address" id="mce-EMAIL" required />
                                            <input type="password" name="password" placeholder="Password" id="mce-PASSWORD" required>
                                            <input type="submit" value="LOGIN" id="mc-embedded-subscribe" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer_bottom_area">
        <div class="clearfix wrapper footer_bottom">
            <div class="clearfix copyright floatleft">
                {% block content %}{% endblock %}
                <p> Copyright &copy; {{ year }} - My Flask Application</p>
            </div>
        </div>
    </section>
</body>
</html>