<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login logout Page</title>
    <style>
        a:link {
            text-decoration: none;
            font-size:26px;
        }

        a:visited {
            text-decoration: none;
            font-size: 36px;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Fashion Trends Login Page </h1>
    {% if login %}
    You are logged in as <strong>{{ session['username'] }}</strong> <br />
    <a href={{ url_for('logout') }}>logout</a>
    {%else%}
    Please login here {{ session['username'] }} <br />
    <a href={{ url_for('login') }}>login</a>
    {%endif %}
    <br>
    <br>
    <a href={{ url_for('register') }}>Sign Up</a>

</body>
</html>