<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How to login logout with flask</title>
</head>
<body>
    <h1>Fashion Trends Login Page </h1>
    {% if login %}
    You are logged in as <strong>{{ session['username'] }}</strong> <br />
    <a href={{ url_for('logout') }}>logout</a>
    {%else%}
    Please login here {{ session['username'] }} <br />
    <a href={{ url_for('login') }}>login</a>
    {%endif %}
    <a href={{ url_for('register') }}>Sign Up</a>

</body>
</html>